@media screen {
    
}
body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1rem;
}

figure {
    margin: 1rem;
}

figure figcaption {
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    margin: inherit;
}

.attribution { font-size: .688rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.qr-body { background-color: rgb(215, 224, 238);}
.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: hsl(0, 0%, 100%);
    max-width: 20.31rem;
    max-height: 31.25rem;
    position: relative;
    border-radius: 1rem;
    display: block;
}

.qr-instructions p { text-align: center;
    font-size: .938rem;
    font-weight: 500;
    font-family: 'Outfit', serif;
    color: hsl(220, 15%, 55%);
}
